<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<body>
    <h1>Product Page</h1>
    <p>Products:</p>
    <ul>
        <li>Gucci_Shirt - Price: 50000</li>
        <li>Gucci T-Shirt - Price: 20000</li>
        <li>Levi_Jeans - Price: 3000</li>
        <li>Roadster_Sweatshirts - Price: 1000</li>
        <li>Wrogn_Jackets - Price: 3000</li>
        <li>Jockey_Underwear - Price: 500</li>
        <li>Nike_Shoes - Price: 10000</li>
        <li>Rolex_Watch - Price: 50000</li>
        <li>Here&Now - Price: 500</li>
        <li>Bata - Price: 10000</li>
    </ul>
</body>
</html>